@import "mixin/mixin.scss";
@import "extends/extend.scss";
@import "variables.scss";
@import "admin.scss";
@import "icon/fontawesome.scss";

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
i { 
    font-family: 'FontAwesome', sans-serif; 
} 
/*   *, ::after, ::before  {
    box-shadow: 0 0 0 2px red
    inset;
}  */ 
 
body { 
    font-family: $font-body !important;
    overflow-x: hidden;
    background-color: $bg-body !important;
    color: $color-body !important;
    font-size: $fontsize-body !important;
    h1 , .h1{
        font-size: 32px;
        font-weight: 700;
        @media (max-width:1199px) {
            font-size: 30px;
        }
        @media (max-width:991px) {
            font-size: 28px;
        }
        @media (max-width:767px) {
            font-size: 26px;
        }
        @media (max-width:600px) {
            font-size: 24px;
        }
        @media (max-width:400px) {
            font-size: 20px;
        }
    }
}
.form-control,.form-select{
    &::placeholder{
        font-size: $fontsize-body !important;
    }
    font-size: $fontsize-body !important;
}
.btn{
    font-size: $fontsize-body !important;
   &.focus, &:focus{
    box-shadow: none !important;
   }
}

.section-text {
    margin-bottom: 30px;
}
.social{
    text-align: left; 
}
.new-link{
    width:100%;
    background-color: transparent !important;
    border: 1px solid $general-color!important;
    color: $general-color !important;
}
.save-link{
    max-width:80px;
    background-color: $general-color !important;
    border-color:$general-color!important;
}
.item-form,.item-social{
    text-align: left;
    background-color: $bg-body;
    border-radius: 8px;
    padding: 20px 10px;
    margin: 20px auto;
} 
.item-form{
    .info-usr{
        align-items: center;
        justify-content: center;
        label,.form-control{
            @media (min-width:768px) {
                width: 50%;
            }
        }
    }
    
}
.fontawesome {
    font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands", sans-serif;
  
}
.linkId{
    
    display:flex;
    flex-direction:row;
    align-items: center;

    .linkBar{
        height: 15px;
        position: relative;
        width: 15px;
        margin-right:8px;
       span{
        position: relative;
        display: block;
        height: 2px;
        border-radius: 15px;
        background: #000;
        margin: 3px auto;
        &:last-child{
            margin-bottom: 0;
        }
       }
    }
}
.mobile-view , .form-view{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px 10px;
}

.mobile-img{
    background-image: url(../img/phone2.jpg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width:197px;
    min-height: 402px;
    border-radius: 10px;
    /* height: 100%;
    width:100%; */
    margin: 0 auto;
    z-index: 1;
    position: relative;
    div#fcb {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 50px;
        width: 50px;
    }
    .btn{
        &.btn-primary{
            &.btn-fcb{
                
                margin: 0 0 5px 0;
            }
        }
    }
    /* .phone1{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background-color: #fff;
            border-radius:50%;
            height: 50px;
            width: 50px;
            top: 0;
            left: 0;
            right:0;
            margin:0 auto;
            z-index: 99;
        }
    }
    .phone2{
        position: relative;
        &::after{
            position: absolute;
            content: "";
            background-color: #fff;
            border-radius:30px;
            height: 20px;
            width: 100px;
            top: 0;
            left: 0;
            right:0;
            margin:25px auto 10px;
            z-index: 99;
        }
    } */
}
img, svg{
    height: 100%;
    width:100%
}

.profile-picture {
    position: relative;
    text-align: center;
    width: 140px !important;
    height: 140px !important;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
    &::before{
        position: absolute;
        content: 'Change Image'; 
        color: #333;
        margin-top: 20px;
    }
    &::after{
        position: absolute;
        content: "\f03e";
        font-family: 'fontawesome';
        margin-bottom: 20px;
    }
    &:hover{
        border-color: #007bff;
    }
    .form-label {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .form-control {
       opacity: 0;
       height: 100%;
       width: 100%;
    }
}


.cond-image{
    font-size: 10px;
}

header{
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    max-width: 1199px;
    margin: 16px auto;
    justify-content: space-between;
    align-items: center;
    padding: 2px 12px;
    z-index: 999;
    .links_header{
        border: none;
        &.active, &:hover , &:focus{
            background-color: rgba($general-color, .3);
            color: $general-color;
            font-weight: 600;
        }
    }
    .preview-link{
        
        .btn{
            background-color: transparent;
            color:$general-color;
            border-color: $general-color;
            &:hover , &:focus{
                background-color: $general-color;
                color: #fff;
            }
        }
       
    }

    .btn{
        @media(max-width:400px){
            font-size: 11px !important;
        }
    }
}

#interfaceProfile {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        background-color: $general-color;
        top: 0;
        left: 0;
        height: 42vh;
        width: 100%;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
    }
}


#sociaux {
    position: absolute;
    top: auto;
    bottom: 36px;
    left: 0;
    right: 0;
    margin: auto;
    min-height: 70px;
    width: 153px;
    a{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    #lienFcb1, #lienFcb2{
        position: relative;
        display: block;
        background: #eee;
        border-color: #eee;
        min-height: 30px;
        &::after{
            position: absolute;
            content: "";
            background-color: #000;
            top: 7px;
            left: 0;
            right: 0;
            height: 10px;
            width: 100px;
            border-radius: 30px;
            margin: auto;
            display: none;
        }
    }
    
}
#details {
    position: absolute;
    top: 32px;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;
    min-height: 200px;
    width: 153px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
    word-wrap: break-word;
    .profilePicture_mv{
        position: relative;
        max-width: 60px;
        height: 60px;
        width: 100%;
        margin: 10px auto;
        &::before{
            position: absolute;
            content: "";
            background-color: #eee;
            top: 0;
            left: 0;
            right: 0;
            height: 60px;
            width: 60px;
            border-radius: 50%;
        }
        img{
            border-radius:50%;
        }
    }
    .name_mv{
        position: relative;
        &::after{
            position: absolute;
            content: "";
            background-color: #eee;
            top: 7px;
            left: 0;
            right: 0;
            height: 10px;
            width: 100px;
            border-radius: 30px;
            margin: auto;
        }
    }

    .email_mv{
        position: relative;
        &::after{
            position: absolute;
            content: "";
            background-color: #eee;
            top: 24px;
            left: 0;
            right: 0;
            height: 10px;
            width: 45px;
            border-radius: 30px;
            margin: auto;
        }
    }
    
}
.Linkedin-button{
    background-color: $linkedin-color !important;
    border-color: $linkedin-color !important;
}
.Facebook-button{
    background-color: $facebook-color !important;
    border-color: $facebook-color !important;
}

.Instagram-button{
    background-color: $instagram-color !important;
    border-color: $instagram-color !important;
}
.Github-button{
    background-color: $github-color !important;
    border-color: $github-color !important;
}
.Twitter-button{
    background-color: $twitter-color !important;
    border-color: $twitter-color !important;
}

.hide-before {
    &::after,&::before{
        display: none;
    }
    
  }

.reset-img-style{
    border: none !important;
    margin: 0;
    padding: 0;
    position: absolute;
    border-radius: 3px;
}
#profilePicture{
    z-index:9;
}