//Fonts 
    

$bg-body:  #f5f5f5;
$color-body: #000;
$font-body : 'Roboto', sans-serif;

$general-color: blueviolet;
$second-color:  blueviolet;

$bg-header: #000;
$color-header:#fff;
$color-header-hover: $general-color;
$color-header-hover-not-sticky: $second-color;
$color-chevron: #a47d5e;
$bg-hashtag :   #493e35;

$fontsize-body:13px;
